
.contact{
    display: flex;
}

.input {
    width: 100%;
}

.input input {
    border-radius: 10px;
    border: 1px solid black;
    width: 80%;
    border:0;
    outline: none !important;
    padding: 10px;
    margin: 3%;
    display: inline-block;
    background: #ffffff;
}

.text-area textarea{
    width: 100%;
    border-radius: 4px;
    border: 1px solid black;
    outline: none !important;
    padding: 10px;
    background: #fff;
    font-size: 16px;
    margin-bottom: 12px;
}
input[type="text"], input[type="email"], input[type="tel"], input[type="text-area"] {
    border: 1px solid black;
}

.contactform{
    grid-column: 1 / span 2;
    grid-row: 2;
    border-radius: 50px;
    width: 45%;
    margin: 15px;
    padding: 20px;
    font-weight: bold;
    text-align:center;
}
.contact_ways {
    width: 50%;
    grid-column: 2 /span 2;
    grid-row: 2;
    margin-top: 35px;
    text-align:center;
}
p.data {
    width: 70%;
}
.fa-lg, .fa-envelope-o, i.fa.fa-map-marker {
    width: 10%;
    align-self: center;
}
.icon1, .icon2, .icon3 {
    display: flex;
    width: auto;
    text-align: center;
}
.map{
    padding: 3%;
}
.contact_list {
    text-align: center;
}
.contact_list ul {
    width: 54%;
    margin: auto;
}
