{% extends 'base.html' %}

{% set page_head_title = 'login' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('login.static', filename='css/login.css') }}"/>
{% endblock %}

{% block page_header_slider %}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">התחברות</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">הרשמה</label>
            <div class="login-form">
                <form action="/login" method="POST">
                    <div class="sign-in-htm">
                        <div class="group">
                            <label for="email" class="label">אימייל</label>
                            <input id="email" type="text" name="email" class="input" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">סיסמא</label>
                            <input id="pass" type="password" name="pass" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value ="התחבר">
                        </div>
                        <div class="hr"></div>
                        {% if massage %}
                            <p class="massage"> {{ massage }}</p>
                        {% endif %}
                    </div>
                </form>

                <form action="/newuser" method="POST">
                    <div class="sign-up-htm">
                        <div class="group">
                            <label for="user" class="label">שם מלא</label>
                            <input id="user" type="text" name="user" class="input" required>
                        </div>
                        <div class="group">
                            <label for="pass" class="label">סיסמא</label>
                            <input id="pass" type="password" name="pass" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <label for="pass1" class="label">חזור שנית</label>
                            <input id="pass" type="password" name="pass1" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <label for="email" class="label">אימייל</label>
                            <input id="email" type="text" name="email" class="input" required="required"
                           pattern="[a-zA-Z0-9.!#$%&'+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$"
                           oninvalid="alert('כתובת אימייל לא תקינה');">
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="ביצוע רישום">
                        </div>
                        <div class="hr"></div>
                        {% if massage %}
                            <p class="massage"> {{ massage }}</p>
                        {% endif %}
                        <div class="foot-lnk">
                            <label for="tab-1">רשום לאתר?</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_body_main %}{% endblock %}
